<div class="panel panel-info">
    <div class="panel-heading">
        <p class="text-center">Hej! Kupiłeś sobie coś? A może coś innego skórczyło Twój portfel? Dodaj ten wydatek teraz, abyś mógł zaplanować późniejsze!</p>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <input type="text" class="form-control" placeholder="Nazwa Wydatku">
            <div class="input-group">
                <span class="input-group-addon">PLN</span>
                <input type="number" class="form-control" placeholder="Kwota wydatku">
            </div>
            <button type="button" id="addPaymentsMoreButton" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <div class="form-group" id="dialogButtons">
                <div class="col-xs-11">
                    <button class="btn btn-primary pull-right">Zapisz</button>
                </div>
            </div>
        </form>

    </div>
</div>
