<div class="panel panel-info" data-ng-controller="addPaymentCtrl">
	<div class="panel-heading">
		<p class="text-center">Hej! Kupiłeś sobie coś? A może coś innego skórczyło Twój portfel? Dodaj ten wydatek teraz, abyś mógł zaplanować późniejsze!</p>
	</div>
	<div class="panel-body">
		<div class="form-horizontal" data-ng-repeat="newPayment in newPayments">
			<p></p>
			<p>Wydatek nr.: {{$index+1}}</p>
			<input type="text" class="form-control" placeholder="Nazwa Wydatku" data-ng-model="newPayment.name">
			<div class="input-group">
				<span class="input-group-addon">PLN</span>
				<input type="number" class="form-control" placeholder="Kwota wydatku" data-ng-model="newPayment.count">
			</div>
			
			
		</div>
		<button type="button" id="addPaymentsMoreButton" class="btn btn-success btn-xs" data-ng-click="addPayments()"><span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
		</button>
		<div class="form-group" id="dialogButtons">
			<div class="col-xs-11">
				<form action="/">
					<input type="submit" class="btn btn-primary pull-right" data-ng-click="saveNewPayments()" value="Zapisz">
				</form>
			</div>
		</div>
		
	</div>
</div>