<h1 class="text-center">
    <img src="img/logo_mg_duze.png" class="img-circle">Witaj w serwisie Money Giver</h1>
<p class="text-center">Money Giver to aplikacja, która w przejrzysty sposób wesprze kontrole nad Twoimi finansami.</p>
<p class="text-center">Zdażyło Ci się kiedyś, że nie wiedziałeś na co wydałeś swoje pieniądze?</p>
<p class="text-center">A może chciałbyś zacisnąć pasa i zaoszczędzić troche kasy?</p>
<p class="text-center">Pomożemy Ci w tym !</p>
<p class="text-center"><a class="btn btn-primary btn-lg" id="createAccountBtn" role="button" ng-href="#/createAccount">Zarejestruj się już teraz!</a>
</p>
